*{
    margin: 0;
    padding: 0;
    box-sizing : border-box
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #ccc;
}

.nav {
    min-height: 42px;
    background-color: #EF5122;
    display: flex;
    justify-content: space-between
}
.nav-list {
    margin: auto 16px;
}
.nav-item {
    display : inline-block;
    list-style: none;
    margin : 0px 8px;
    color : #fff
}

.form-container {
    max-width: 720px;
    background-color: white;
    padding: 32px;
    margin: 36px auto 0 auto;
}
.form_row {
    padding: 8px 0;
    display: flex;
}
.form_label{
    min-width: 90px;
}
.form_input {
    flex : 1
}

.column-layout {
    display: flex;
    margin-top: 36px;
    padding: 12px 0;
    background-color: #fff
}
.column-item {
    padding : 0 16px;
}
.sidebar-one {
    flex : 1
}
.sidebar-two {
    flex : 1
}
.main-column{
    flex : 2
}

.feature-layout{
    margin-top: 36px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}
.feature-item{
    padding: 12px 16px;
    margin-top: 16px
}

.wrap-item {
    width: 148px;
    height: 90px;
    color : white;
    background-color: red;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px
}
.wrap-layout{
    display: flex;
    background-color: #fff;
    margin-top: 36px;
    padding: 12px 0 32px 0;
    justify-content: space-around;
    flex-wrap : wrap-reverse;
}
.center-layout{
    background-color: rgb(192,227,194);
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-layout-item{
    font-size: 42px;
    font-weight: bold;
    /* margin: auto; */
}

.the-end{
    display: flex;
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 740px;
    flex-direction: row;
    min-height: 360px;
}
.the-end-first{
    padding: 4px 16px;
    background-color: #fff;
    flex : 1
}
.the-end-second{
    flex : 1;
    display: flex;
    flex-direction: column;
}
.the-end-one{
    flex : 1;
    padding: 4px 16px;
    background-color: rgb(226,192,214);
}
.the-end-two{
    flex:  1;
    padding: 4px 16px;
    background-color: rgb(192,210,227);
}